body {
    background-image: url(continue_old_paper.jpg);
}

hr {
    height: 0px;
    background-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    opacity: 0.5;
}

P { 
    text-indent: 2em; 
    padding-left: 10em;
    padding-right: 10em;
    font-family: cursive;
    font-size: 15pt;
}

H1,H2,H3,H4,H5,H6 { 
    font-family:fantasy;
}

img {
    filter: sepia(300%);
    opacity: 0.7
}