body {
    background-image: url(continue_old_paper.jpg);
}

hr {
    height: 0px;
    background-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    width: 50%; 
    text-align: center;
    opacity: 0.5;
}

P { 
    text-indent: 2em; 
    margin-top: .25em;
    margin-bottom: .25em; 
    padding-left: 10em;
    padding-right: 10em;
    font-family: cursive;
    font-size: 15pt;
}

H1,H2,H3,H4,H5,H6 { 
    text-align: center; 
    margin-left: 15%;
    margin-right: 15%; 
    font-family:fantasy;
    font-style: bold;
}

.foot { 
    margin-left: 20%; 
    margin-right: 20%; 
    text-align: justify; 
    text-indent: -3em; 
    font-size: 90%; 
}

blockquote {
    font-size: 97%; 
    font-style: italic; 
    margin-left: 10%; 
    margin-right: 10%;
}

.mynote    {
    background-color: #DDE; 
    color: #000; padding: .5em; 
    margin-left: 10%; 
    margin-right: 10%; 
    font-family: sans-serif; 
    font-size: 95%;
}

.toc { 
    margin-left: 10%; 
    margin-bottom: .75em;
}

.toc2 { 
    margin-left: 20%;
}

div.fig { 
    display:block; 
    margin:0 auto; 
    text-align:center; 
}

.figleft {
    float: left; 
    margin-left: 0%; 
    margin-right: 1%;
}

.figright {
    float: right; 
    margin-right: 0%; 
    margin-left: 1%;
}

pre { 
    font-style: italic; 
    font-size: 90%; 
    margin-left: 10%;
}