html {
    width: 100%;
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

section {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
section .section-header {
    font-size: 46pt;
    text-align: center;
}

section .container {
    padding: 100px 80px 100px 260px;
}

section .section-text {
    text-indent: 2em;
    font-family: 'Arimo', sans-serif;
    font-size: 18pt;
    line-height: 120%;
}

#side-bar {
    position: fixed;
    top: 40px;
    left: 8px;
    padding: 12px;
    width: 190px;
    background-color: #fDDCf9;
    border-radius: 0px;
    color: #FF3D00;
    height: 100%;
}

#side-bar .side-bar-name {
    font-weight: 900;
    font-size: 28pt;
    line-height: 90%;
}

#side-bar .side-bar-pt {
    padding-top: 8px;
    font-size: 22pt;
}

#side-bar .side-bar-pt .text {
/*    text-indent: 1em;*/
    padding-left: 8px;
}


.header-bg {
    background: url(header_bg.jpg);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center center;
/*    filter: sepia();*/
    min-height: 610px;
    min-width: 512px;
    width: 100%;
    height: auto;
}

.header-bg .key_describe {
    position: absolute;
    top: 420px;
    left: 70%;
    right:auto;
    text-align: right;
    width: 240px
}

.header-bg .key_describe .name {
    font-family: fantasy;
    font-size: 46pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 100%;
    color: #0309F4;
    font-weight: 900;
}

.header-bg .key_describe .short-identity {
    position: absolute;
    top: 18px;
    margin: 0;
    padding: 0;
    font-size: 30pt;
}

.header-bg .box {
    position: relative;
    text-align: center;
    background-color: #7B1FA2;
    top: 598px;
/*    margin: 0 128px 0 128px;*/
/*    padding-left: 100px;*/
    height: 50px;
    vertical-align: center;
    border-radius: 8px;
}

.header-bg .box .button {
    position: block;
    display: inline;
    top:-4px;
    padding: 16px 32px 16px 32px;
    margin: 128px 6px 0px 6px;
    font-size: 18pt;
    background-color: #FF3D00;
    font-family: 'Sansita', sans-serif;
    font-style: oblique;
    font-weight: 900;
    border-radius: 5px;
}

.header-bg .box .button a {
    font-style: normal;
    color: #FFFF00;
    text-decoration: none;
}

.intro-container {
    background-color: #76FF03;
    background-size: cover;
    color: azure;
    min-height: 45em;
    display: block;
}

section {
    background-color: #FFEB3B;
    color: #03A9F4;
}

section.light {
    background-color: #18FFFF;
    color: #F50057;
}